<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <div nz-row>
    <div nz-col [nzOffset]="2" [nzSpan]="10">
      <nz-form-item nzFlex>
        <nz-form-label nzRequired nzFor="name">用户名</nz-form-label>
        <nz-form-control style="width: 80%">
          <input nz-input formControlName="name" id="name">
          <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">
            用户名不能为空!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="10">
      <nz-form-item nzFlex>
        <nz-form-label nzFor="sex" nzRequired>性别</nz-form-label>
        <nz-form-control style="width: 80%">
          <nz-radio-group [(ngModel)]="sex">
            <label nz-radio nzValue="0">男</label>
            <label nz-radio nzValue="1">女</label>
            <label nz-radio nzValue="2">未知</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzOffset]="2" [nzSpan]="10">
      <nz-form-item nzFlex>
        <nz-form-label nzRequired nzFor="age">年龄</nz-form-label>
        <nz-form-control style="width: 80%">
          <input nz-input formControlName="age" id="age">
          <nz-form-explain *ngIf="validateForm.get('age').dirty && validateForm.get('age').errors">
            年领不能为空!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="10">
      <nz-form-item nzFlex>
        <nz-form-label nzFor="phone" nzRequired>手机号码</nz-form-label>
        <nz-form-control style="width: 80%">
          <input nz-input id="phone" formControlName="phone"
                 (ngModelChange)="updateConfirmValidator()">
          <nz-form-explain *ngIf="validateForm.get('phone').dirty && validateForm.get('phone').errors">
            手机号码不能为空
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzOffset]="2" [nzSpan]="10">
      <nz-form-item nzFlex>
        <nz-form-label nzRequired nzFor="email">Email</nz-form-label>
        <nz-form-control style="width: 80%">
          <input nz-input formControlName="email" id="email">
          <nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">
            邮箱不能为空!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="10">
      <nz-form-item nzFlex>
        <nz-form-label nzFor="qq" nzRequired>QQ</nz-form-label>
        <nz-form-control style="width: 80%">
          <input nz-input id="qq" formControlName="qq"
                 (ngModelChange)="updateConfirmValidator()">
          <nz-form-explain *ngIf="validateForm.get('qq').dirty && validateForm.get('qq').errors">
            QQ 不能为空！
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzOffset]="2" [nzSpan]="10">
      <nz-form-item nzFlex>
        <nz-form-label nzRequired nzFor="useFlag">是否使用</nz-form-label>
        <nz-form-control style="width: 80%">
          <input nz-input formControlName="useFlag" id="useFlag">
          <nz-form-explain *ngIf="validateForm.get('useFlag').dirty && validateForm.get('useFlag').errors">
            是否使用
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="10">
      <nz-form-item nzFlex>
        <nz-form-label nzFor="delFlag" nzRequired>创建人</nz-form-label>
        <nz-form-control style="width: 80%">
          <input nz-input id="delFlag" formControlName="delFlag"
                 (ngModelChange)="updateConfirmValidator()">
          <nz-form-explain *ngIf="validateForm.get('delFlag').dirty && validateForm.get('delFlag').errors">
            是否删除不能为空！
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzOffset]="2" [nzSpan]="10">
      <nz-form-item nzFlex>
        <nz-form-label nzRequired nzFor="createTime">创建时间</nz-form-label>
        <nz-form-control style="width: 80%">
          <input nz-input formControlName="createTime" id="createTime">
          <nz-form-explain *ngIf="validateForm.get('createTime').dirty && validateForm.get('createTime').errors">
            邮箱不能为空!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="10">
      <nz-form-item nzFlex>
        <nz-form-label nzFor="createUser" nzRequired>创建人</nz-form-label>
        <nz-form-control style="width: 80%">
          <input nz-input id="createUser" formControlName="createUser"
                 (ngModelChange)="updateConfirmValidator()">
          <nz-form-explain *ngIf="validateForm.get('createUser').dirty && validateForm.get('createUser').errors">
            创建人不能为空！
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row>
    <div nz-col [nzOffset]="2" [nzSpan]="20">
      <nz-form-item nzFlex>
        <nz-form-label nzRequired nzFor="remark">备注</nz-form-label>
        <nz-form-control style="width: 80%">
          <input nz-input formControlName="remark" id="remark">
          <nz-form-explain *ngIf="validateForm.get('remark').dirty && validateForm.get('remark').errors">
            备注不能为空
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
